.add-item {
    display: flex;
    margin-top: 15px;
}

.add-item button {
    margin-right: 10px;
}

.add-item input {
    flex-grow: 1;
    padding: 5px 10px;
}

.require {
    border: 1px solid red;
}